.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 6px;
    color: rgba(0,0,0, 0.87);
    background: #ffffffe6;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card-title {
    text-align: center;
    font-size: 1.3em;
    line-height: 1.55em;
    font-weight: 700;
}

.card-image {
    width: 100%;
    margin-left: 27px;
}

.statistics__card {
    border-radius: 8px;
    color: white;
    float: left;
    padding: 10px;
    position: relative;
    width: 25%;
    margin: 12px;
}

.statistics__card__title {
    display: inline-block;
    font-size: 14px;
    padding: 15px 6px 0;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.statistics__card__value {
    font-size: 50px;
    font-weight: bold;
    padding: 0 10px;
    margin-bottom: 23px;
}

.statistics__card__icon {
    height: 69px;
    margin-top: 14px;
}