.bg-orange {
    background-color: #fa5903;
    color: #FFFFFF;
}
.clearfix {
    clear: both;
}
.bg-primary {
    background-color: rebeccapurple;
    color: #FFFFFF;
}
.bg-white {
    background-color: white;
}
.bg-whitesmoke {
    background-color: whitesmoke;
}
.text-primary {
    color: rebeccapurple;
}

.text-grey {
    color: grey;
}

.text-white {
    color: white !important;
}


.active-text {
    color: rebeccapurple;
}
