.bg-orange {
    background-color: #fa5903;
    color: #FFFFFF;
}
.clearfix {
    clear: both;
}
.bg-primary {
    background-color: rebeccapurple;
    color: #FFFFFF;
}
.bg-white {
    background-color: white;
}
.bg-whitesmoke {
    background-color: whitesmoke !important;
}
.text-primary {
    color: rebeccapurple !important;
}

.text-grey {
    color: grey !important;
}

.text-white {
    color: white !important;
}


.active-text {
    color: rebeccapurple !important;
}
