
.col-2 {
    width: 15.33333333% !important;
    height: 100%;
    float: left;
}

.col-4 {
    width: 33.33333333% !important;
    height: 100%;
    float: left;
}

.col-6 {
    width: 50% !important;
    height: 100%;
    float: left;
}
.col-10 {
    width: 84% !important;
    height: 100%;
    float: left;
}

.full-height {
    height: 920px;
}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) {

 }
 
@media all and (min-width: 768px) and (max-width: 1024px) { }
 
@media all and (min-width: 480px) and (max-width: 768px) { }
 
@media all and (max-width: 480px) {
    body {
        /* background-color: red; */
    }
    .logo, .mobi-hide {
        display: none;
    }

    .col-6, .col-10, .col-2, .col-4 {
        width: 100% !important;
    }

    .wrapper {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

 }