.panel {
    border-radius: 6px;
    margin: 10px;
}

.panel__heading {
    padding-top: 15px;
}

.panel__heading__title {
    font-size: 23px;
    font-weight: bold;
    margin-left: 24px;
}

.panel__body {
    color: black;
    padding: 12px;
}

