{% extends 'base_frontend.html' %}

{% block body %}
<div class="main header-bg">
        <div class="container">
            <div class="col-4">&nbsp;</div>
            <div class="card card-signup col-4">
                   <div class="header hatch header-text header-primary">
                       STACK-OVERFLOW LITE
                    </div>
                    <div class="form-container mt-20 p-15">

                        <div class="form-group">
                            <a href="/api/v1/questions" target="_blank" class="text-white">
                                <button class="floating header-text btn btn-primary bg-orange p-15 btn-block">
                                    <b>API ENDPOINTS</b>
                                </button>
                            </a>
                        </div>
                        <div class="form-group">
                            <a href="https://stackoverflowlite2.docs.apiary.io/#reference" target="_blank" class="text-white">
                                <button class="floating header-text btn btn-primary bg-orange p-15 btn-block">
                                    <b>API DOCUMENTATION</b>
                                </button>
                            </a>
                        </div>
                        <div class="form-group">
                            <a href="https://p8ul.github.io/stackoverflow-lite/UI/" target="_blank" class="text-white">
                                <button class="floating header-text btn btn-primary bg-orange p-15 btn-block">
                                    <b>UI PAGES</b>
                                </button>
                            </a>
                        </div>
                    </div>
            </div>
            <div class="col-4">&nbsp;</div>
        </div>
    </div>
{% endblock %}